div
{
  font-family: 'Roboto', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
  color: #515e81;
}

.card-body
{
  padding: 2%;
}

.content
{
  margin-top: 10px;
  padding: 40px;
  height: 100%;
  width: 100%;
}



.btn-primary-2 {
  background-color: #e8eef0;
  border: 0px solid;
}



.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option--highlighted[aria-selected]:hover {
  background-color: #F2F2F2;
  color: #fff;
}



.btn-navigation
{
  background-color: #3f2de0cb;
  border: 0px solid;
  width: 100%;
}


#tbl-result
{
  width: 80%;
  border: solid 1px #ccc;
  margin-left: 10%;
}

#tbl-result td, th
{
  padding: 10px;
}

#processgif
{
  position: absolute;
  top: 30%;
  left: 40%;
  width: 400px;
  height: 200px;
  background-image: url(../images/keho.gif);
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option--highlighted[aria-selected]:hover {
  background-color: #F2F2F2;
  color: #000;
}

.btn-icon
{
  min-width: 20px;
  width: auto;
  height: 100%;
  
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: table-cell;
  
}
.btn-icon > div
{

}

.btn-container
{
  display: table-cell;
  vertical-align: top;
}

.btn-icon-2
{
  width: 20px;
  height: 20px;
  
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: table-cell;
}

.btn-text
{
  display: table-cell;
  min-width: 100px;
  text-align: left;
  padding-left: 6px;
  font-size: 10pt;
}

.btn-text-2
{
  display: table-cell;
  width: 0;
  text-align: left;
  padding-left: 0px;
}

.icon-gear
{
  background-image: url(../images/gear.png);
}

.icon-next
{
  background-image: url(../images/next.png);
}

.icon-home
{
  background-image: url(../images/home.png);
}

.icon-form
{
  background-image: url(../images/form.png);
}

.icon-table
{
  background-image: url(../images/table.png);
}

.icon-manual
{
  background-image: url(../images/manual.png);
}

.icon-clear
{
  background-image: url(../images/clear.png);
}

.icon-save
{
  background-image: url(../images/save.png);
}

.icon-ocr
{
  background-image: url(../images/ocr.png);
}

.icon-previous
{
  background-image: url(../images/previous.png);
}



.vseparator
{
  height: 40px;
}

.info
{
  display: flex;
  width: 100%;
  height: 200px;
  border: solid 1px #ccc;
  text-align: center;
  line-height: 200px;
}

.loading-animated
{
  background-image: url(../images/keho.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 80%;
  width: 200px;
  height: 200px;
  margin-left: 30%;
  margin-top: 10px;
}

.done
{
  background-image: url(../images/check.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 80%;
  width: 100px;
  height: 100px;
  margin-left: 30%;
  margin-top: 50px;
}

.info-container
{
  height: 200px;
  line-height: 200px;
  font-size: large;

}

.card-body
{
  padding-left: 10%;
  padding-right: 10%;
}

.btn 
{
  border-radius: 20pt;
}


.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #f0f0f0;
}

.navbar-dark .navbar-nav .nav-link i {
  margin-right: 5px;
}

.navbar-nav.flex-column {
  flex-direction: column;
}

.page 
{
  display: flex;
  height: 100%;
}

.sidebar
{
  width: 15%;
  height: 100vh;
  background-color: #343a40;
  padding-top: 2%;
}

.div-text 
{
  align-items: center; 
  align-self: center;
}

.icon
{
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}

.icon-users
{
  background-image: url(../images/teamwork.png);
}

.icon-outlets
{
  background-image: url(../images/shop.png);
}

.icon-upload
{
  background-image: url(../images/upload.png);
}

.logo 
{
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url(../images/logo.png);
}

.logo-text
{
  width: auto;
  height: 40px;
  font-size: 20pt;
  line-height: 40px;
  display: flex; 
}

.logo-text > div
{
  font-size: x-small;
}

.environment
{
  width: 100px;
  height: 30px;
  font-size: small;
  margin-left: 36px;
}

