<h1>
    List of Outlets for <%- sfcode -%>
</h1>
<div>
    <button id="btnBack" class="btn btn-primary">
        Back
    </button>
</div>
<div class="content">
    <div>
        <table id="myTable" class="display">
            <thead>
                <tr>
                    <th>Outlet ID</th>
                    <th>Outlet Name</th>
                    <th>Cluster</th>
                    <th>Branch</th>
                    <th>Region</th>
                    <th>Area</th>
                    <th>City</th>
                    <th>Kecamatan</th>
                    <th>Archetype</th>
                </tr>
            </thead>
        </table>
    </div>
</div>


<script>
    let offset = 0;
    let limit = 20;
    let curpage = 1;

    function getTotalPages(totalData, offset) {
        // Handle the case where totalData is zero to avoid division by zero.
        if (totalData === 0) {
            return 1; // Or 0, depending on your preference
        }
        return Math.ceil(totalData / offset);
    }

    function fillPageCombo(totalData, limit, pg)
    {
        let totalPage = getTotalPages(totalData, limit)
        addOptionsToCombobox("cmbPage", totalPage, pg)
    }

    function addOptionsToCombobox(comboboxId, total, pg) {
        const combobox = document.getElementById(comboboxId);

        // Clear existing options
        combobox.innerHTML = '';

        // Add new options
        for (let i = 1; i <= total; i++) {
            const option = document.createElement('option');
            option.value = i;
            option.text = i;
            if(i == pg)
                option.selected = true;
            combobox.appendChild(option);
        }
    }

    function getOffset(page, limit) {
        // Validate input
        if (page < 1 || limit < 1) {
            return 0; // Or handle the invalid input as needed
        }

        return (page - 1) * limit;
    }


    let myTable = null;

    function initData(data)
    {
        for(let i = 0; i < data.length; i++)
        {
            data[i].outlets = `<a href="javascript:showOutlets('${data[i].sfcode}')">Show Outlets</a>`;
        }   

        return data;
    }
    function populateData(pg, search)
    {
        let offset = getOffset(pg, limit);

        let url = `/user/<%- sfcode -%>/outlets?offset=${offset}&limit=${limit}`
        console.log("URL")
        console.log(url)

        if(search != null && search.length > 0)
            url = `/user/<%- sfcode -%>/find?offset=${offset}&limit=${limit}&keyword=${search}`
        
        $("#myTable").css("opacity", 0.2)
        $.get(url, function(response){

            $("#myTable").css("opacity", 1)

            console.log(response)
            let rows = response.payload;

            if(myTable != null)
            {
                $('#myTable').DataTable().clear().rows.add(rows).draw();
            }
            else
            {
                myTable = $('#myTable').DataTable({data: rows, 
                paging: false,
                searching: false,
                ordering: false,
                columns: [
                    { data: 'storeid' },
                    { data: 'store_name' },
                    { data: 'store_cluster' },
                    { data: 'store_branch' },
                    { data: 'store_region' },
                    { data: 'store_area' },
                    { data: 'store_city' },
                    { data: 'store_kecamatan' },
                    { data: 'archetype' },
                ]})
            }

        })
    }

    function getQueryParam(paramName) {
        const urlParams = new URLSearchParams(window.location.search);
        return urlParams.get(paramName);
    }

    $(document).ready(function(){
        
        $("#cmbPage").on("change", function(){
            let page = $("#cmbPage").val();
            let text = $("#keyword").val();
            populateData(page, text);
        })

        $("#btnFind").on("click", function(){
            let text = $("#keyword").val();
            populateData(1, text)
        })

        $("#keyword").on("keyup", function(event){
            if(event.key == "Enter")
            {
                let text = $("#keyword").val();
                populateData(1, text)
            }
        })

        $("#btnBack").on("click", function(){
            let pg = getQueryParam("pg")
            let keyword = getQueryParam("keyword")
            location = "/?pg=" + pg + "&keyword=" + keyword;

        })

        populateData(1);
    })
</script>
